<h1>Add a restaurant</h1>
<div class="col-4">
  <%= form_for @restaurant do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= select_tag :neighborhood_id, options_for_select(@neighborhoods.collect{ |u| [u.name, u.id] }), class: "form-control" %>
  </div>
  <%= f.submit "Seize the Cheese!" %>
  <% end %>

</div>
