<h1>Add a restaurant</h1>

<%= form_for @restaurant do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :phone %>
  <%= f.text_field :phone%>
  <%= select_tag :neighborhood_id, options_for_select(@neighborhoods.collect{ |u| [u.name, u.id] }) %>
  <%= f.submit "Seize the Cheese!" %>
<% end %>
