<div class="col-11 col-centered">
  <h1><%= @restaurant.name %></h1>
  <div class="">
    <p>Address: <%= @restaurant.address %></p>
    <p>Phone: <%= @restaurant.phone %></p>
</div>

<div class="reviews col-11 col-centered">
  <% @restaurant.reviews.each do |r| %>
  <div class="review">
    <h4><%= r.name %> says:</h4>
    <%= r.review %><br>
    <h6>Rating:</h6>  <%= r.rating %><br>
  </div>
  <% end %>
</div>
</div>


<div class="col-11 col-centered">
  <h3>Add to the literary canon of reviews about <%= @restaurant.name %></h3>
  <%= form_for @review do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Describe your curding experience in detail" %>
    <%= f.text_area :review, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "On a scale from 1-5 curds, would you curd again?" %>
    <%= f.select :rating, (1..5), class: "form-control" %>
  </div>
    <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
    <%= f.submit "Seize the Cheese", class: "btn btn-primary" %>
    <% end %>
</div>
