<div class="col-11 col-centered">
  <h1><%= @restaurant.name %></h1>
  <div class="">
    <p>Address: <%= @restaurant.address %></p>
    <p>Phone: <%= @restaurant.phone %></p>
  </div>



  <div class="col-11 col-centered">
    <%= form_for @review do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :review %>
      <%= f.text_area :review, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :rating %>
      <%= f.number_field :rating, class: "form-control" %>
    </div>
      <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
      <%= f.submit "Seize the Cheese", class: "btn btn-primary" %>
      <% end %>
  </div>

  <div class="reviews col-11 col-centered">
    <% @restaurant.reviews.each do |r| %>
    <div class="review">
      Name: <%= r.name %><br>
      Review: <%= r.review %><br>
      Rating: <%= r.rating %><br>
    </div>
    <% end %>
  </div>
</div>
